<app-site-header></app-site-header>
<div class="container">
  <div class="main-grid">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2 class="heading">Product Categories</h2>
      <div class="filter-section">
        @for(item of categoryData;track item){
        <div class="filter-group">
          <input
            type="checkbox"
            id="{{ item.category }}"
            class="filter-input"
            (change)="changeCategory(item.category)"
          />
          <label for="watches" class="filter-label">{{ item.category }}</label>
        </div>
        }

        <div class="filter-group">
          <input type="checkbox" id="phones" class="filter-input" />
          <label for="phones" class="filter-label">Phones</label>
        </div>
        <div class="filter-group">
          <input type="checkbox" id="laptops" class="filter-input" />
          <label for="laptops" class="filter-label">Laptops</label>
        </div>
      </div>

      <h2 class="heading" style="margin-top: 2rem">Sort By</h2>
      <div class="filter-section">
        <div class="filter-group">
          <input
            type="radio"
            id="latest"
            name="sort"
            class="filter-input"
            checked
          />
          <label for="latest" class="filter-label">Latest</label>
        </div>
        <div class="filter-group">
          <input type="radio" id="oldest" name="sort" class="filter-input" />
          <label for="oldest" class="filter-label">Oldest</label>
        </div>
      </div>
    </div>

    <!-- Product Grid -->
    <div class="product-grid">
      <h2 class="heading">Showing 1 - 3 of 3 Products</h2>
      <div class="grid-layout" data-wow-delay="0s" data-grid="grid-4">

        @for (item of productList | productFilter:selectedCategories; track item) {
        <div class="card-product fl-item" routerLink="{{item?.productId}}">
          <div class="card-product-wrapper">
            <a class="product-img">
              <img
                class="lazyload img-product"
                [src]="imagePath + item?.imageUrls[0]"
                data-src="{{ item?.imageUrls[0] }}"
                alt="image-product"
              />

              <img
                class="lazyload img-hover"
                [attr.src]="imagePath + item?.imageUrls[1]"
                [attr.data-src]="imagePath + item?.imageUrls[1]"
                alt="image-product"
              />
            </a>

            <div class="list-product-btn">
              <!-- quick add button -->
              <a
                href="#quick_add"
                data-bs-toggle="modal"
                (click)="setSelectedProduct(item)"
                class="box-icon bg_white quick-add tf-btn-loading"
              >
                <span class="icon icon-bag"></span>
                <span class="tooltip">Quick Add</span>
              </a>
              @if(!isInWishlist(item)){
              <a class="box-icon bg_white wishlist btn-icon-action">
                <span class="icon icon-heart" (click)="addItem(item)"></span>
                <span class="tooltip">Add to Wishlist</span>
              </a>
              }@else if(isInWishlist(item)){
              <a class="box-icon bg_white wishlist btn-icon-action">
                <span
                  class="icon icon-delete"
                  (click)="removeItem(item)"
                ></span>
                <span class="tooltip">deletes from Wishlist</span>
              </a>
              }

              <!-- Quick View Button -->
              <a
                href="#quick_view"
                data-bs-toggle="modal"
                (click)="setSelectedProduct(item)"
                class="box-icon bg_white quickview tf-btn-loading"
              >
                <span class="icon icon-view"></span>
                <span class="tooltip">Quick View</span>
              </a>
            </div>
            <div class="size-list">
              @for (size of item.sizes; track size) {
              <span>{{ size }}</span>
              }
            </div>
          </div>
          <div class="card-product-info">
            <a href="" class="title link">{{ item?.productName }}</a>
            <!-- <div class="tf-product-info-price">
              <div class="compare-at-price">NPR. 2000</div>
              <div class="price">NPR. {{ item?.price }}</div>
            </div> -->
            <div class="tf-product-info-price">
              <div class="price-on-sale">&#8377; {{ item?.price }}</div>
              <div class="compare-at-price">
                &#8377; {{ showDisocuntPrice(item?.price, item?.discount) }}
              </div>
              <div class="badges-on-sale">
                <span>{{ item?.discount }}</span
                >% OFF
              </div>
              <!-- <div class="price">{{ item?.price }}</div> -->
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
