.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px 20px;
    .login-form{
        width: 400px;
    }
}
.login-admin{
    font-size: 24px;
}