<div class="tf-slideshow slider-effect-fade position-relative">
  <div class="swiper tf-sw-slideshow" dir="ltr">
    <div class="swiper-wrapper">
      @for(slide of slides;track slide){
      <div class="swiper-slide">
        <div class="wrap-slider">
          <img [src]="slide.image" [alt]="slide.alt" />
          <div class="box-content">
            <div class="container">
              <h1 class="fade-item fade-item-1">{{ slide.title }}</h1>
              <p class="fade-item fade-item-2">{{ slide.description }}</p>
              <a
                href="#"
                class="fade-item fade-item-3 tf-btn btn-fill animate-hover-btn btn-xl radius-3"
                ><span>{{ slide.cta }}</span
                ><i class="icon icon-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
