<app-site-header></app-site-header>
<main class="cart-container">
  <h1 class="cart-title">YOUR <span>CART</span></h1>

  <div class="cart-items">
    <!-- Cart Item 1 -->
    @for(item of cartlist;track item;let i = $index){
    <div class="cart-item">
      <div class="item-details">
        <img
          [src]="'http://localhost:5000/' + item.product?.imageUrls[0]"
          alt="T-shirt"
          class="item-image"
        />
        <div class="item-info">
          <h3>{{ item.product.productName }}</h3>
          <p>NPR. {{ item.product.price }}</p>
          <p>Size {{ item.selectedSize }}</p>
        </div>
      </div>

      <div class="item-actions">
        <div class="tf-product-info-quantity">
          <div class="quantity-title fw-6">Quantity</div>
          <div class="wg-quantity">
            <span
              class="btn-quantity minus-btn"
              (click)="updateQunatity('delete', item)"
              >-</span
            >
            <input
              id="quantity"
              type="number"
              [(ngModel)]="item.quantity"
              min="1"
            />
            <span
              class="btn-quantity plus-btn"
              (click)="updateQunatity('add', item)"
              >+</span
            >
          </div>
        </div>
        <div class="tf-mini-cart-remove pointer" (click)="removeCartItem(item)">
          Remove
        </div>
      </div>
    </div>
    } @empty {
    <div>
      <h6>Pleas add some items</h6>
    </div>
    }
  </div>
  @if(cartlist.length>0){
  <div class="cart-totals">
    <h2 class="totals-title">CART <span>TOTALS</span></h2>
    <div class="totals-row">
      <span>Subtotal</span>
      <span>NPR. {{ this.cartService.getTotalCost() }}</span>
    </div>
    <div class="totals-row">
      <span>Shipping Fee</span>
      <span
        >{{ this.cartService.getTotalCost() > 4000 ? "0" : "NPR. 120" }}
      </span>
    </div>
    <div class="cart-row total-row">
      <div class="totals-row">
        <span>Total</span>
        <span>NPR.{{ this.cartService.getTotal() }} </span>
      </div>
    </div>
  </div>
  }
  <div class="tf-mini-cart-view-checkout">
    @if(cartlist.length>0){
    <button
      routerLink="/checkout"
      class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"
    >
      <span>Check out</span>
    </button>
    }
  </div>
</main>
<app-footer></app-footer>
