<app-site-header></app-site-header>
<div class="profile-container">
  <h5 class="title" style="margin-left: 20px">Edit Profile</h5>
  <form [formGroup]="profileForm" class="profile-container">
    <div class="tf-field style-1">
      <input
        class="tf-field-input tf-input"
        placeholder=" "
        formControlName="firstname"
        type="text"
        [value]="profileInfo?.firstName"
        id="firstName"
      />
      <label class="tf-field-label" for="firstName">First name</label>
      <app-form-error
        errorMessages="Please enter last name"
        [control]="profileForm.get('firstName')"
      ></app-form-error>
    </div>

    <div class="tf-field style-1">
      <input
        class="tf-field-input tf-input"
        placeholder=" "
        formControlName="lastName"
        type="text"
        id="lastName"
      />
      <label class="tf-field-label" for="lastName">Last name</label>
      <!-- last name -->
      <app-form-error
        errorMessages="Please enter last name"
        [control]="profileForm.get('lastName')"
      ></app-form-error>
    </div>
    <div class="tf-field style-1">
      <input
        class="tf-field-input tf-input"
        type="email"
        formControlName="email"
        id="email"
        readonly
      />
      <label class="tf-field-label" for="email">Email</label>
      <app-form-error
        errorMessages="Please enter email"
        [control]="profileForm.get('email')"
      ></app-form-error>
    </div>
    <!-- <div class="tf-field style-1">
      <input
        class="tf-field-input tf-input"
        type="text"
        id="street"
        formControlName="street"
      />
      <label class="tf-field-label" for="street">Street</label>
    </div> -->

    <div class="tf-field style-1">
      <input
        class="tf-field-input tf-input"
        type="number"
        id="postalCode"
        formControlName="postalCode"
      />
      <label class="tf-field-label" for="postalCode">Zipcode</label>
      <app-form-error
        errorMessages="Please enter postal code"
        [control]="profileForm.get('postalCode')"
      ></app-form-error>
    </div>
    <div class="tf-field style-1">
      <input
        class="tf-field-input tf-input"
        type="number"
        id="mobile"
        formControlName="phoneNumber"
      />
      <label class="tf-field-label" for="mobile">Phone Number</label>
      <app-form-error
        errorMessages="Please enter phone number"
        [control]="profileForm.get('phoneNumber')"
      ></app-form-error>
    </div>
    <div class="select-container">
      <select #province formControlName="province">
        <option disabled selected value="">Province</option>
        <option value="Madhesh Province">Madhesh Province</option>
        <option value="Bagmati Province">Bagmati Province</option>
        <option value="Gandaki Province">Gandaki Province</option>
        <option value="Lumbini Province">Lumbini Province</option>
        <option value="Karnali Province">Karnali Province</option>
        <option value="Sudurpashchim Province">Sudurpashchim Province</option>
      </select>
    </div>
    <textarea formControlName="street"></textarea>
    <app-form-error
      errorMessages="Please select province"
      [control]="profileForm.get('street')"
    ></app-form-error>
  </form>
  <!-- </div> -->
  <button
    class="tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn mx-4 my-0 px-3"
    (click)="editProfile(profileForm)"
  >
    Save
  </button>
</div>
<app-footer></app-footer>
