<app-site-header></app-site-header>
<div class="delivery-info">
  <h2>Edit Profile</h2>
  <form class="form-grid" [formGroup]="profileForm">
    <div class="form-row">
      <input type="text" placeholder="First Name" formControlName="firstname" />
      <input type="text" placeholder="Last Name" formControlName="lastName" />
    </div>

    <div class="form-row">
      <input
        type="text"
        placeholder="Postal code"
        formControlName="postalCode"
      />
      <input
        type="number"
        placeholder="Phone number"
        formControlName="phoneNumber"
      />
    </div>
    <div class="form-row">
      <input type="email" placeholder="Email address" formControlName="email" />
      <div class="select-container">
        <select
          class="tf-select w-100"
          formControlName="province"
          id="ShippingCountry_CartDrawer-Form"
          data-default=""
        >
          <!-- <select #province formControlName="province"> -->
          <option disabled selected value="">Province</option>
          <option value="Madhui88787esh Province">Madhesh Province</option>
          <option value="Bagmati Province">Bagmati Province</option>
          <option value="Gandaki Province">Gandaki Province</option>
          <option value="Lumbini Province">Lumbini Province</option>
          <option value="Karnali Province">Karnali Province</option>
          <option value="Sudurpashchim Province">Sudurpashchim Province</option>
        </select>
      </div>
    </div>
    <textarea formControlName="street"></textarea>
  </form>
  <button
    class="tf-btn btn-fill animate-hover-btn radius-3 justify-content-center"
    (click)="editProfile()"
  >
    submit
  </button>
</div>
<app-footer></app-footer>
