<main class="main-content">
  <header class="header"></header>
  @for(order of orderList;track order){
  <div class="orders">
    <div class="order-card">
      <div class="order-icon">📦</div>
      <div class="order-details">
        @for(product of order?.products;track product){
        <h3>
          {{ product?.name }} × {{ product?.quantity }} {{ product?.size }}
        </h3>
        }
        <div class="order-meta">
          <p>
            {{ order.user.firstName }} {{ order.user.lastName }}
            {{ order.user.phoneNumber }}
          </p>
        </div>
        <div class="order-meta">
          <p>{{ order.shippingAddress.address }}</p>
          <p>{{ order.shippingAddress.province }}</p>
          <p>{{ order.shippingAddress.postalCode }}</p>
        </div>
      </div>
      <div class="order-info">
        <p>Items: {{ order.products.length }}</p>
        <p>Method: {{ order.payment.method }}</p>
        <p>Payment: {{ order.payment.status }}</p>
        <p>Date: {{ order.createdAt | date : "shortDate" }}</p>
      </div>
      <div
        class="order-actions"
        style="display: flex; flex-direction: column; gap: 20px"
      >
        <div class="order-amount">NPR. {{ order.totalAmount }}</div>
        <select
          class="order-status"
          [(ngModel)]="order.status"
          (change)="statusChange(order.orderId, $event)"
        >
          <option value="Order Placed">Order Placed</option>
          <option value="Packed">Packed</option>
          <option value="Shipped">Shipped</option>
          <option value="Out for Delivery">Out for Delivery</option>
          <option value="Delivered">Delivered</option>
        </select>
        <!-- New button to print -->
        <button
          [routerLink]="['/', 'print', order.orderId]"
          title="Print Invoice"
          class="btn btn-outline"
        >
          Print Invoice
        </button>
      </div>
    </div>
  </div>
  } @empty {
  <div class="order-card">
    <h3>No order is placed</h3>
  </div>

  }
</main>
