<app-site-header></app-site-header>
<div class="container-login">
  <div class="login-form">
    <div class="modal-content">
      <div class="header">
        <div class="demo-title">
          <h1 class="login-admin">Log in</h1>
        </div>
        <div style="color: red; text-align: center">
          {{ loginError }}
        </div>
      </div>
      <div class="tf-login-form">
        <form class="" [formGroup]="loginForm" accept-charset="utf-8">
          <div class="tf-field style-1">
            <input
              class="tf-field-input tf-input"
              placeholder=" "
              type="email"
              formControlName="email"
              name=""
            />
            <label class="tf-field-label" for="">Email *</label>
            <app-form-error
              errorMessages="Please enter email"
              [control]="loginForm.get('email')"
            ></app-form-error>
          </div>
          <div class="tf-field style-1">
            <input
              class="tf-field-input tf-input"
              placeholder=" "
              type="password"
              formControlName="password"
              name=""
            />
            <label class="tf-field-label" for="">Password *</label>
            <app-form-error
              errorMessages="Please enter password"
              [control]="loginForm.get('password')"
            ></app-form-error>
          </div>
          <div>
            <a
              href="#forgotPassword"
              data-bs-toggle="modal"
              class="btn-link link mt-2"
              >Forgot your password?</a
            >
          </div>
          <div class="bottom mt-2">
            <div class="w-100">
              <button
                type="submit"
                (click)="handleLogin()"
                class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"
              >
                <span>Log in</span>
              </button>
            </div>
            <div class="w-100 mt-2">
              <a
                routerLink="/register"
                data-bs-toggle="modal"
                class="btn-link fw-6 w-100 link"
              >
                New customer? Create your account
                <i class="icon icon-arrow1-top-left"></i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
